<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List of all rooms</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="content">
    <h2>List of all rooms</h2>
    <div th:unless="${#lists.isEmpty(rooms)}">
        <dl th:each="room : ${rooms}">
            <dt>
                <form action="#" class="menu-form" th:action="@{/room}" method="POST">
                    <input type="hidden" name="roomId" th:value="${room.id}">
                    <input type="submit" th:value="${room.name}"/>
                </form>
            </dt>
        </dl>
    </div>
    <form class="menu-form" th:action="@{/index}" method="GET">
        <input type="submit" value="main page"/>
    </form>
</div>
</body>
</html>